<div class="home-page-2_212-57">
  <div class="rectangle-10_212-100">
  </div>
  <span class="short-expert-admission-support">Expert College Admission Support. Get personalized guidance and support to navigate the college admission process successfully with Scholar Pro Connect LLP.</span>

  <div class="rectangle-14_212-101">
    <img src="assets/Images/Bench.jpeg" alt="Bench Image" width="419" height="379">
  </div>
  <div class="rectangle-15_212-102">
    <img src="assets/Images/books.jpeg" alt="Books Image" width="418" height="379">
  </div>
  <div class="rectangle-16_212-103">
    <img src="assets/Images/Highlight.jpeg" alt="High Image" width="419" height="379">
  </div>
  <span class="pre-admissions-text">Pre-Admissions Discover top colleges, get personalized guidance for selection, compare options, access tutoring, aid with applications, and receive financial aid and scholarship advice. Explore career paths.</span>

  <span class="college-support-text">In-College Support Navigate college life, secure internships, access academic and professional support, engage in leadership and mentorship programs.</span>

  <span class="post-college-text">Post-College Get job assistance at various levels, receive job search strategies, access certification aid, and continue education.</span>
  
</div>