<style>
  img {
    border-radius: 50%;
    width: 450px;
    height: 450px;
    position: absolute;
  }

  .top-left {
    top: 0;
    left: 0;
  }
</style>
<div class="register-page_1-2">
  <div class="rectangle-5_1-8">
  </div>
  <div class="rectangle-6_1-9">
    
  </div>
  <div class="rectangle-11_3-2">
  </div>
  <div class="ellipse-1_3-4">
    <img src="assets/Images/Bench.jpeg" alt="Description of the image" />
  </div>
  <span class="text-create-account_3-5">Create Account</span>
  <span class="text-scholar---pro--connect-llp_6-2">Scholar - Pro Connect LLP</span>
  <div class="frame-3_7-8">
    <div class="frame-2_7-9">
      <span class="text-e-mail_7-10">E-mail</span>
    </div>
    <div class="frame-12_47-5">
      <span class="text-xyz753-gmail-com_47-6">
        <input type="email" id="emailInput" name="emailInput">
      </span>
    </div>
  </div>
  <div class="frame-9_7-26">
    <div class="frame-2_7-27">
      <span class="text-user-name_7-28">User Name </span>
    </div>
    <div class="frame-11_47-4">
      <span class="text-xyz753_47-3"><input type="text" id="userNameInput" name="userNameInput"></span>
    </div>
  </div>
  <div class="frame-4_7-11">
    <div class="frame-2_7-12">
      <span class="text-password_7-13">Password</span>
    </div>
    <div class="frame-13_47-7">
      <span class="text-xyz753_47-3"><input type="password" id="passwordInput" name="passwordInput"></span>
    </div>
  </div>
  <div class="frame-5_7-14">
    <div class="frame-2_7-15">
      <span class="text-confirm-password_7-16">Confirm Password</span>
    </div>
    <div class="frame-14_47-9">
      <span class="text-xyz753_47-3"><input type="password" id="confirmPasswordInput" name="confirmPasswordInput"></span>
    </div>
  </div>
  <span class="text-already-have-an-account-log-in_7-22">Already have an account ? Log in</span>
  <div class="frame-8_7-23">
    <div class="frame-10_47-2">
      <button class="btn butt">
        <span class="text-create-account_7-25">Create Account</span>
      </button>
    </div>
  </div>
</div>
