<div class="login-page_1-2">
  <div class="rectangle-5_1-3">
    <img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AyuX5/wjNA6j4UG+yAAAAAElFTkSuQmCC"
    />
  </div>
  <div class="rectangle-6_1-4">
    <img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AyuX5/wjNA6j4UG+yAAAAAElFTkSuQmCC"
    />
  </div>
  <div class="rectangle-11_1-5">
  <div class="ellipse-1_1-6">
    <img 
    src="assets/Images/books.jpeg" width="418" height="379"
    />
  </div>
  <span class="text-login_1-7">Login</span>
  <span class="text-scholar---pro--connect-llp_1-8"
    >Scholar - Pro Connect LLP</span
  >
  <div class="frame-9_1-12">
    <div class="frame-10_51-3">
      <span class="text-xyz-mail-com_51-2"><input type="text" id="usernameEmailInput" name="usernameEmailInput"></span>
    </div>
    <div class="frame-2_1-13">
      <span class="text-username---e-mail_1-24">Username / E-mail</span>
    </div>
  </div>
  <div class="frame-4_1-15">
    <div class="frame-2_1-16">
      <span class="text-password_1-17">Password</span>
    </div>
    <div class="frame-11_51-4">
      <span class="text-xyz-mail-com_51-5"><input type="password" id="passwordInput" name="passwordInput"></span>
    </div>
  </div>
  <span class="text-don-t-have-an-account---register_1-21"
    >Don’t have an account ? Register</span
  >
  <span class="text-forgot-password--_2-2">Forgot Password ?</span>
  <div class="frame-8_1-22">
    <div class="frame-12_52-2">
      <button class="btn butt">
      <span class="text-sign-in_1-23">Sign In</span>
    </button>
    </div>
  </div>
</div>
